/*
  
   Wildcat Computer Science Style Sheet for printer
   Author: Tyler Jacox
   Date:   17 MAY 2017

   Filename:         print.css
   Supporting Files: none
*/


/*remove extra elements*/

#nav a,
#nav #logo,
#validation-badges,
#callout,
#footer {
    display: none;
}


/*save ink by changing color to black and remove link styling*/

* {
    color: black !important;
    text-decoration: none;
}